/*===========================*/

/*
This are my custom settings, but there are also some
other changes in the main body of the file
*/

/*===========================*/


.responsive-table {
  width: 100%;
  max-width: 500px;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 32px;
  border: none;
}
.responsive-table th, 
.responsive-table td {
  border: none !important;
  padding-right: 5px;
  font-size: 1.05em;
}

/* Responsive font size and width for small screens */
@media (max-width: 500px) {
  .responsive-table {
    max-width: 100%;
  }
  .responsive-table col {
    width: auto !important;
  }
}


